# fly.toml app configuration file generated for v6-web-sdk-sample-integration-server-cool-sun-8411 on 2026-01-21T14:44:53-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'v6-web-sdk-sample-integration-server-cool-sun-8411'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
