# fly.toml app configuration file generated for v6-web-sdk-sample-integration-server-test on 2026-01-21T16:38:39-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'v6-web-sdk-sample-integration-server'
primary_region = 'ord'

[build]

[env]
  HOSTNAME = '0.0.0.0'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
