<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sample Integrations - PayPal Web SDK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>PayPal Web SDK Sample Integrations</h1>

    <ul>
      <li>PayPal Payments</li>
      <ul>
        <li>
          <a
            href="/paypalPayments/oneTimePayment/html/src/recommended/index.html"
            >Recommended integration with PayPal, PayLater, and PayPal Credit
            buttons</a
          >
        </li>
        <li>
          <a
            href="/paypalPayments/oneTimePayment/html/src/advanced/merchantAsyncValidation/index.html"
            >Advanced Merchant Async Validation with PayPal button</a
          >
        </li>
        <li>
          <a
            href="/paypalPayments/oneTimePayment/html/src/advanced/paymentHandler/index.html"
            >Advanced "payment-handler" presentation mode with PayPal button</a
          >
        </li>
        <li>
          <a
            href="/paypalPayments/oneTimePayment/html/src/advanced/redirect/index.html"
            >Advanced Redirect flow with PayPal button</a
          >
        </li>
        <li>
          <a
            href="/paypalPayments/oneTimePayment/html/src/advanced/directAppSwitch/index.html"
            >Advanced Direct App Switch flow with PayPal button</a
          >
        </li>
      </ul>
      <li>Venmo Payments</li>
      <ul>
        <li>
          <a
            href="/venmoPayments/oneTimePayment/html/src/index.html"
            >Recommended integration for Venmo</a
          >
        </li>
      </ul>
    </ul>
  </body>
</html>
